.column {
  position:relative;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 250px;
}

.column .left{
 border-right: 4px solid rgba(81, 99, 126, .5);
}

.column .right{
 border-left:  4px solid rgba(81, 99, 126, .5);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
margin:50px auto auto auto;
width:80%;
height:auto;
}
.dl{
height:auto;
width:140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: all ease-in-out 0.2s;
  border-radius: 100%;
}
.dl:hover{
  transition: all ease-in-out 0.2s;
  background-color:#52627C;
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
}
.row1{
margin:auto;
  width:80%;
}
.column1{
width:50%;
    position:relative;
  float: left;
}
sd{
  display:inline-block;
  font-family:"Comfortaa";
  font-size:40px;
  position:relative;
  line-height:60px;
  width:auto;
  color:white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding:2px 17px 0px 17px;
  transition: all ease-in-out 0.2s;
    border-radius: 15px;
}
  sd:hover{
  transition: all ease-in-out 0.2s;
  background-color:#52627C;
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
}

sn{
  display:inline-block;
  font-family:"Comfortaa";
  font-size:20px;
  position:relative;
  color:white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding:2px 17px 0px 17px;
  transition: all ease-in-out 0.2s;
  border-radius: 15px;
}
.sn{
color:white;
text-decoration:none;
font-weight:200;
}
sn:hover{
  transition: all ease-in-out 0.2s;
  background-color:#52627C;
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
}
.ReactionVideo{
  border: 5px solid white;
  background-color: #FEFF8E;
  width:480px; 
  height:270px;

}


#row{
  margin:20px auto 40px auto;
  width:80%;
  height:auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display:block;
  transition: 0.5s;
  color:white; 
  border-radius: 15px;
  padding:5px 35px 1px 35px;
}
#row:hover{
  transition:0.5s;
  width:81%;
  background: rgba(82,98,124, 1);
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
}
#row:after {
  content: "";
  display: table;
  clear: both;
}

.columnleaderboard {
  position:relative;
  float: left;
  width: 50%;
  padding: 10px;
  height: auto;
}
.BellowFirst {
  position:relative;
  float: left;
  width: 100%;
  padding: 10px;
  border-bottom:2px solid rgba(156,219,251,0.4);
}
.LBTitle{
font-size: 25px;
  font-family: "Nova Slim";
  margin:15px;
}
.LBTitle2{
font-size: 20px;
  font-family: "Nova Slim";
}
.First{
  display:block;
  position:relative;
  float: left;
  width: 100%;
  padding: 10px;
  border-bottom:4px solid rgba(156,219,251,0.4);
  font-size: 17px;
  font-family: "Nova Slim";
  font-weight:bold;
}
.trophy{
position:relative;
display:block;
height:auto;
width:18px;
float:left;
margin:auto;
}
.firstplacesocial{
position:relative;
display:block;
height:auto;
width:18px;
float:left;
margin:auto;
margin-left:5px;
}

.column .left{
 border-right: 1px solid rgba(81, 99, 126, .5);
}

.column .right{
 border-left:  1px solid rgba(81, 99, 126, .5);
}
#left{
padding-right:7vw;
}
#right{
padding-left:7vw;
}
name{
float:left;
}
amount{
float:right;
}
.text{
  font-size: 13px;
  font-family: "Comfortaa";
  font-weight:200;
}
@media only screen and (max-width: 768px){
  .column, .column1{
  width:100%;
  }
  sd{
  width:90%;
  font-size:20px;
  margin-bottom:10px;
  }
    .ReactionVideo
{
 width: 70%;
 height: 27vh;
}
  .row, .row1{
margin:auto;
width:100%;
}
}

