.currentevent{
  display:none;
  
}
.Date
{
  font-family: "Comfortaa";
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  color:white;
}
.Status
{
  font-family: "Nova Slim";
  font-size: 15px;
  letter-spacing: 1.5px;
  color:white;
  display:block;
  padding-bottom:300px;
}


votebutton {
  font-size: 30px;
  font-family: "Comfortaa";
  word-spacing: 10px;
  margin:auto;
  width:350px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display:block;
  transition: 0.5s;
  color:white;
  border-radius: 15px;
  padding:5px 35px 1px 35px;
  display:none;
}

votebutton:hover {
  background-color: #244f9c;}

votebutton:active {
  box-shadow: none;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.container {
  position: relative;
   }
.container img{
  height: auto;}

.container .btn  {  
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 }


.row{
margin:auto;
width:80%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .column1 {
  float: left;
  width: 100%;
  padding: 20px;
  height: auto;
  display:inline-block;
  z-index:1;
}
.row .column2 {
  float: left;
  width: 50%;
  padding: 20px;
  height: auto;
  display:inline-block;
  z-index:1;
}

.row .column3 {
  float: left;
  width: 50%;
  padding: 20px;
  height: auto;
  display:inline-block;
  z-index:1;
}

sn
{
  font-family: "Nova Slim";
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  color:white;
}
.NOMINEELogo
{
  width: 170px;
  border-radius: 100%;
  height: auto;
  margin-bottom:20px;
  border: 3px solid white;
  background-color:white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
sd
{
  display:block;
  font-size: 14px;
  font-family: "Comfortaa";
  word-spacing: 2px;
  line-height:3vh;
  border-radius: 15px;
  height:auto;
  width:70%;
  color:white;
  margin:auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding:2px 17px 0px 17px;
  transition: all ease-in-out 0.2s;
}
sd:hover{
  transition: all ease-in-out 0.2s;
  background-color:#52627C;
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
}

.stream{
    position: relative;
    border: 5px solid white;
    background-color: #FEFF8E;
    width: 480px;
    height: 100%;
    display: flex;
    margin: auto;
    margin-top: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
@media only screen and (max-width: 1250px) {
  .row .column2, .row .column3, .row .column1 {
  width: 100%;
  height: auto
}
  .container{
  display:none;
  }
}
@media only screen and (max-width: 415px){
  .title{
  font-size:30px;
  margin: 40px 0px 0px 0px;
  }
  .stream{
display:none;
  }
}