
#center{
transition: all filter 0.75s ease-in-out;
}
.centerlogo
{
margin-top:100px;
width:10%;
}


.Title{
  font-family: "Nova Slim";
  font-size: 60px;
  color:white;
  margin:0;
}
.Slogan{
  font-family:"Comfortaa";
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight:200;
  color:white;
  margin:10px 0 10px 0;
}


button2 {
  font-family: "Nova Slim";
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  border-radius: 6px;
  background-color: #51637E;
  color:white; 
  border: 1px solid grey;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  height: 55px;
  width: 260px;
  
}

button2:hover {
  background-color: #244f9c;}

button2:active {
  box-shadow: none;
}
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}



.container {
  position: relative;
   }
.container img{
  width: auto;
height:auto;
  padding:30px;
}

.container .btn  {  
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 }

.container .CenterTwitter
{
  position: absolute;
  left: 34%;
  top: -20%;
  transform: translate(-34%, -15%);
}
.container .CenterDiscord
{
  position: absolute;
  left: 38%;
  top: -20%;
  transform: translate(-34%, -15%);
}
.container .CenterYoutube
{
  position: absolute;
  left: 61%;
  top: -20%;
  transform: translate(-34%, -15%);
}
.container .CenterInstagram
{
  position: absolute;
  left: 65%;
  top: -24%;
  transform: translate(-34%, -15%);
}
streamershappy{
  position: absolute;
  left: 62%;
  top:60%;
  transform: translate(-34%, -15%);
  font-family:"Comfortaa";
  font-size:15px;
  color:white;
}
fundscontributed{
  position: absolute;
  left: 34.5%;
  top: 60%;
  transform: translate(-34%, -15%);
  font-family:"Comfortaa";
  font-size:15px;
  color:white;
}
.imglink img {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.imglink img:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0px;
  transition: 0.5s;
}

.imglink:hover img {
  padding-bottom: 40px;
}

.imglink:hover img:after {
  opacity: 1;
  right: 0;
}
.BottomScreenTitle
{
line-height:0px;
color:white;
}

.LineBelowText{
  position:relative;  
  top:-35px;
}
.AboutText
{
  display:inline-block;
  font-family:"Comfortaa";
  font-size:24px;
  position:relative;
  top:-55px;
  line-height:40px;
  width:60%;
  color:white;
  
}


.column {
  font-family: "Nova Slim";
  font-size: 30px;
  width: 50%;
  float: left;
}
.ReactionVideo{
  border: 5px solid white;
  background-color: #FEFF8E;
  width:480px; 
  height:270px;
}
.mainbox2{
  display: inline-block;
  width: 90vw;
  overflow: auto;
  border: .2vw solid #92DAFA;
  border-radius: 15px;
  background-color: white;
  margin-top:15px;
}

@media only screen and (max-width: 1900px)
 {
.imglink{
display:none;
}

@media only screen and (max-width: 1024px) {
.column {
  height: auto;
  width: 100%;
}
.btn, .buttonbox{
  display:none;
}
.centerlogo
{
margin-top:100px;
}
.Title{
  font-size:70px;
}
.Slogan{
  font-size: 20px;
}
.LineBelowText{
  width:70%;
}
.AboutText
{
  font-size:20px;
  line-height:30px;
  width:70%;
  margin-top:30px;
}
.ReactionVideo
{
 display:flex;
 width: 85%;
 height: 36vh;
 margin:  auto;
}
}
@media only screen and (max-width: 414px){
.Title{
  font-size:40px;
}
.Slogan{
  font-size: 12px;
}
.LineBelowText{
  width:70%;
}
.AboutText
{
  font-size:15px;
  line-height:25px;
  width:70%;
  margin-top:30px;
}
  .ReactionVideo
{
 width: 85%;
 height: 27vh;
}
}
}
