.prizepool{
   display:inline-block;
    font-size: 200px;
    font-family: "Comfortaa";
    margin:20px 0 20px 0;
  color:white;
}
.donatebutton{
  font-size: 30px;
  font-family: "Comfortaa";
  word-spacing: 10px;
  margin:auto;
  width:350px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display:block;
  transition: 0.5s;
  color:white;
  border-radius: 15px;
  padding:5px 35px 1px 35px;
}
.donatebutton:hover{
  transition:0.5s;
  width:360px;
  background-color:#52627C;
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
}
.update{
visibility: hidden;
  width: 140px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  font-size: 10px;
  font-family: "Comfortaa";
  margin:-10px 0px 0px -70px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.prizepool:hover .update {
  visibility: visible;
}

sn{
  display:inline-block;
  font-family:"Comfortaa";
  font-size:20px;
  position:relative;
  color:white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding:2px 17px 0px 17px;
  transition: all ease-in-out 0.2s;
  border-radius: 15px;
}
.sn{
color:white;
text-decoration:none;
font-weight:200;
}
sn:hover{
  transition: all ease-in-out 0.2s;
  background-color:#52627C;
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
}
.dl{
height:auto;
width:140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: all ease-in-out 0.2s;
  border-radius: 100%;
}
.dl:hover{
  transition: all ease-in-out 0.2s;
  background-color:#52627C;
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
}
#row{
  margin:20px auto auto auto;
  width:80%;
  height:auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display:block;
  transition: 0.5s;
  color:white; 
  border-radius: 15px;
  padding:5px 35px 1px 35px;
}
#row:hover{
  transition:0.5s;
  width:81%;
  background: rgba(82,98,124, 1);
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
}
#row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  position:relative;
  float: left;
  width: 33.33%;
  padding: 30px;
  margin:20px auto auto auto;
  height: auto;
}
.BellowFirst {
  position:relative;
  float: left;
  width: 100%;
  padding: 10px;
  border-bottom:2px solid rgba(156,219,251,0.4);
}
.LBTitle{
font-size: 25px;
  font-family: "Nova Slim";
  margin:15px;
}
.LBTitle2{
font-size: 20px;
  font-family: "Nova Slim";
}
.First{
  display:block;
  position:relative;
  float: left;
  width: 100%;
  padding: 10px;
  border-bottom:4px solid rgba(156,219,251,0.4);
  font-size: 17px;
  font-family: "Nova Slim";
  font-weight:bold;
}
.trophy{
position:relative;
display:block;
height:auto;
width:18px;
float:left;
margin:auto;
}
.firstplacesocial{
position:relative;
display:block;
height:auto;
width:18px;
float:left;
margin:auto;
margin-left:5px;
}

.column .left{
 border-right: 1px solid rgba(81, 99, 126, .5);
}

.column .right{
 border-left:  1px solid rgba(81, 99, 126, .5);
}
#left{
padding-right:7vw;
}
#right{
padding-left:7vw;
}
name{
float:left;
}
amount{
float:right;
}
.text{
  font-size: 13px;
  font-family: "Comfortaa";
  font-weight:200;
}

@media screen and (max-width: 1200px) {
  .txtlink {
    display:contents;
    font-size: 5vw;
    height:auto;
    width:50px;
    padding-right:200px;
    line-height:4vh;
  }
      .firstplacesocial{
    display:none;
    }
  
@media screen and (max-width: 1900px) {
  .orb, .logos {
    display:none;
  }
}
  @media screen and (max-width: 414px){
  .prizepool{
    font-size: 50px;
}
    .donatebutton{
    margin: 50px auto 50px auto;
    }
    .column {
  width: 100%;
  margin-bottom:30px;
}
    #right, #left{
    padding:0px;
    }
.donatebutton{
  font-size: 20px;
  font-family: "Comfortaa";
  word-spacing: 10px;
  margin:auto;
  width:250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display:block;
  transition: all 0.5s;
  color:white;
  border-radius: 15px;
  padding:5px 35px 1px 35px;
}
  }
}