

.grid-container {
   display: grid;
  align-content: center;
    webkit-box-pack: center;
    justify-content: center;
    margin: 10px 60px 60px;
    gap: 40px 70px;
   grid-template-columns: auto auto;
}
.grid-item {
  padding: 30px 120px 40px;
  font-size: 30px;
  text-align: center;
  border-radius:20px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
}
.grid-item:hover{
  transition:0.5s;
  background-color:#52627C;
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
}


.sponsorlogo{
Height:auto;
width:100px;
}

.sponsorsocials
{
Height:auto;
width:2vw;
margin-left:5px;
margin-right:5px;
border-radius:100%;
}


.Description{
margin-top: 21px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: rgb(255, 255, 255);
    text-align: justify;
}

.bottomtext{
display:block;
margin:10px;
font-family: "Comfortaa";
font-size: 1em;
font-weight:100;
  color:white;
}
button3 {
  display: inline-block;
  position: relative;
  font-family: "Nova Slim";
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  border-radius: 6px;
  background-color:#52627C; 
  color:white; 
  box-shadow: 0px 0px teal;
  margin-bottom: 20px;
  cursor: pointer;
  height: 35px;
  width: 260px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
}

button3:hover {
  background-color: #244f9c;}

button3:active {
  box-shadow: none;
}


.btn2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn2:hover span {
  padding-right: 25px;
}

.btn2:hover span:after {
  opacity: 1;
  right: 0;
}
@media only screen and (max-width: 75rem) {
  .grid-container {
    grid-template-columns: auto;
  }
  .sponsorsocials
{
Height:auto;
width:5vw;
}

}


