<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nova+Slim" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Kelly+Slab" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aubrey" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
<html lang="en">
  <head>
    <title>Smojo Foundation - Stream Team</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Stream Team">
    <meta name="name" content="Smojo Foundation">
    <meta name="keywords" content="twitch,streamer,streamteam,stream team, donation, subscribers, youtube, foundation, smojo, smojo foundation, smojo productions, sfstreamteam, sf">
    <meta itemprop="thumbnailUrl" content="http://static1.squarespace.com/static/59980070893fc0a7e66e5f4a/t/5baab95653450a3f09f3b4df/1537915223867/Element+3Logo250.png?format=1500w">
    <link rel="icon" href="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2F2.2.png?v=1564425490604">
    <link rel = "stylesheet" href = "universal.css">
    <link rel = "stylesheet" href = "streamteam.css">
  </head>

<body>  
<background>
<video class="noBlur" autoplay muted loop id="myVideoid">
  <source src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FAT-cm_415692996.mp4?1557534422094" type="video/mp4">
  Your browser does not support HTML5 video.
  </video>
  
   
  <label class="switch">
    <input onclick="changeBlur()" type="checkbox">
    <span class="slider round"></span>
  </label>      
</background>          
            
      
      
<mnb>
  <img class="mnb_logo" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2F2.2%20SFST.png?v=1564424660065">
  <li><a href="home.html">Home</a></li>
  <li class="mnb_dropdown">
    <a href="current-event.html" class="mnb_dropbtn">Current Event</a>
    <div class="mnb_dropdown-content">
      <a href="current-event.html">Nominees</a>
      <a href="voting.html">Vote</a>
      <a href="prize-pool.html">Prize Pool</a>
    </div>
  </li>
  <li><a href="contribute.html">Contribute</a></li>
  <li><a href="previouswinners.html">Winners</a></li>
  <li class="mnb_dropdown">
    <a href="javascript:void(0)" class="mnb_dropbtn">Teams</a>
    <div class="mnb_dropdown-content">
      <a href="streamteam.html">Stream Team</a>
      <a href="tba.html">eSports Team</a>
      <a href="tba.html">Smojo Productions</a>
    </div>
  </li>
  <li class="mnb_dropdown">
    <a href="javascript:void(0)" class="mnb_dropbtn">More</a>
    <div class="mnb_dropdown-content">
      <a href="sponsors.html">Sponsors</a>
      <a href="contact_us.html">Contact</a>
      <a href="patchnotes.html">Patch Notes</a>
    </div>
  </li>
  <a onclick="window.location" href="https://goo.gl/forms/CnE1X46tFeOS8pVy1"  target="blank"><button class="mnbbutton"><span>APPLY</span></button></a>
</mnb>
      
      
<mbnb>
<div class="mbnb_dropdown">
  <button onclick="myFunction()" class="mbnb_dropbtn"><img class="mbnb_threelines" src="https://cdn.discordapp.com/attachments/547682569463005184/551743725169278976/f452cf9a10a3318820a84d07624121ac1.png"></button>
  <div id="myDropdown" class="mbnb_dropdown-content">
    <a href="home.html">Home</a>
    <a href="current-event.html">Current Event</a>
    <a href="contact_us.html">Contact</a>
    <a href="patchnotes.html">Patch Notes</a>
    <a href="sponsors.html">Sponsors</a>
  </div>
</div>
</mbnb>     
      
<sns>
  <li><a class="SideNav" href=" https://www.youtube.com/channel/UC81EsdphqJGoK1VGxZ343sw?sub_confirmation=1" target="_blank"><img class="SideNavPic" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FYoutube.png?1556183298310"></a></li>
  <li><a class="SideNav" href=" https://twitter.com/SmojoFoundation " target="_blank"><img class="SideNavPic" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FTwitter.png?1556183550801"></a></li>
  <li><a class="SideNav" href=" https://instagram.com/smojofoundation " target="_blank"><img class="SideNavPic" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FInsta.png?1556183834480"></a></li>
  <li><a class="SideNav" href=" https://discord.gg/fBEP52V " target="_blank"><img class="SideNavPic" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FDiscord.png?1556183298869"></a></li>
</sns>
<bns>
  <li><a class="BottomNav" href="https://twitter.com/Smojorl" target="_blank"><img class="BottomNavPic" src="https://cdn.discordapp.com/attachments/547682569463005184/552743762825314307/Smojo2.png"></a></li>
</bns>




<center class="center" id="center">
  <img class="centerlogo" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2F2.2%20SFST.png?v=1564424660065">
  <p class="Title1">Smojo Foundation</p>
  <p class="Title2">STREAM TEAM</p>

  
  
  <div class="row">
    <div class="column" >
      <h2 class="BottomScreenTitle">ABOUT</h2>
      <img class="LineBelowText" src="https://cdn.discordapp.com/attachments/547682569463005184/547746413212205076/Divider.png">
      <p class="AboutText">The purpose of the Smojo Foundation Stream Team is to help spread awareness about our foundation. 
       Our streamers are a great pool of entertaining content
      each and everyone of them are so unique you are sure to find your next favorite streamer right on this website.
      They all stream a wide variety of games so make sure to check them all out :D</p>
  </div>
  <div class="test">
    

  <div class="column" >
    <div class="livestreamontop">
      
    
    <h2 class="BottomScreenTitle">LIVE STREAMS</h2>
    <img class="LineBelowText" src="https://cdn.discordapp.com/attachments/547682569463005184/547746413212205076/Divider.png">
     <div class="topstream"  id="twitch-embed" ></div>
  </div>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>         
    <script  type="text/javascript">    
      var embed = new Twitch.Embed("twitch-embed", {
        width: 480,
        height: 270,
        channel: "SFStreamTeams",
        layout: "video",
        autoplay: false
      });     
      embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
        var player = embed.getPlayer();
        player.play();
      });
    </script>
    </div>
    </div>  
  </div>

    
       
       
       
  <div class="title">Team Members</div>

  
<div class="team">
  <a class="sf_team" onclick="openTeam(event, 'TEAM_A')">Team A</a>
  <a class="sf_team" onclick="openTeam(event, 'TEAM_B')">Team B</a>
  <a class="sf_team" onclick="openTeam(event, 'TEAM_C')">Team C</a>
  <a class="sf_team" onclick="openTeam(event, 'TEAM_D')" id="defaultOpen">Team D</a>
</div>

<div id="TEAM_A" class="teaminfo">
  <nomembers>CURRENT NO MEMBERS</nomembers>
</div>

<div id="TEAM_B" class="teaminfo">
  <nomembers>CURRENT NO MEMBERS</nomembers>
</div>
  
  <div id="TEAM_C" class="teaminfo">
  <nomembers>CURRENT NO MEMBERS</nomembers>
</div>

<div id="TEAM_D" class="teaminfo">

  
        <div class="row1">
  <div class="column1">
    <streamersummary>Im just awesome</streamersummary>
  </div>
  <div class="column1">
    <div class="streamername">
      QuantumComputers
    </div>
    <div class="streamersocials">
    <a  onclick="window.location" href="https://discord.gg/SQH7SA"  target="blank"><span><img class="streamersocialspic" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FDiscord.png?1556183298869"></span></a>   
      <a  onclick="window.location" href="https://www.twitter/TTV_quantum"  target="blank"><span><img class="streamersocialspic" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FTwitter.png?1556183550801"></span></a>    
    </div>
    <img class="streamerlogo" src="https://static-cdn.jtvnw.net/jtv_user_pictures/8156d48b-8b6f-47bf-9a73-17adb5558dfe-profile_image-70x70.jpeg">
  </div>
  <div class="column1">
    <div class="stream"  id="twitch-embed_d2" ></div>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script  type="text/javascript">
      var embed = new Twitch.Embed("twitch-embed_d2", {
        width: 480,
        height: 270,
        channel: "QuantumComputers",
        layout: "video",
        autoplay: false
      });
      embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
        var player = embed.getPlayer();
        player.play();
      });
    </script>
  </div>
  </div>
  
  <div class="row1">
  <div class="column1">
    <streamersummary>Hey peeps, my name's Tal and I'll be streaming a variety of games ranging from enter the gungeon, wizard of legends, slay the spire, rocket league, warframe, destiny 2, risk of rain 2, stickfight, to overwatch.</streamersummary>
  </div>
  <div class="column1">
    <div class="streamername">
      QuantumComputers
    </div>
    <div class="streamersocials">
    <a  onclick="window.location" href="https://discord.gg/SQH7SA"  target="blank"><span><img class="streamersocialspic" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FDiscord.png?1556183298869"></span></a>   
      <a  onclick="window.location" href="https://www.instagram.com/ninjatalepic/"  target="blank"><span><img class="streamersocialspic" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FInsta.png?1556183834480"></span></a>    
    </div>
    <img class="streamerlogo" src="https://media.discordapp.net/attachments/571144515507978251/571576541545234432/image0.jpg">
  </div>
  <div class="column1">
    <div class="stream"  id="twitch-embed_d9" ></div>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script  type="text/javascript">
      var embed = new Twitch.Embed("twitch-embed_d9", {
        width: 480,
        height: 270,
        channel: "Ninjatalepic",
        layout: "video",
        autoplay: false
      });
      embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
        var player = embed.getPlayer();
        player.play();
      });
    </script>
  </div>
  </div>
  
  
    <div class="row1">
  <div class="column1">
    <div class="line"></div>
    <streamersummary>Hey, im Smojo. Im a VERY active and entertaining streamer. The main game i play is Rocket League, i also tend to play other games such as minecraft, gta, ect. I hope you enjoy my stream and have a rgeat day.</streamersummary>
  </div>
  <div class="column1">
    <div class="streamername">
      SMOJO
    </div>
    <div class="streamersocials">
    <a  onclick="window.location" href="https://discord.gg/SQH7SA"  target="blank"><span><img class="streamersocialspic" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FDiscord.png?1556183298869"></span></a>   
      <a  onclick="window.location" href="https://instagram.com/smojo_yt"  target="blank"><span><img class="streamersocialspic" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FInsta.png?1556183834480"></span></a>    
      <a  onclick="window.location" href="https://twitter.com/Smojorl"  target="blank"><span><img class="streamersocialspic" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FTwitter.png?1556183550801"></span></a>
      <a  onclick="window.location" href="https://www.youtube.com/channel/UC5ocIq7jqcdyCXaD13VffGw?view_as=subscriber"  target="blank"><span><img class="streamersocialspic" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FYoutube.png?1556183298310"></span></a>
    </div>
    <img class="streamerlogo" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FHalf%20Rainbow%20W.Background.jpg?v=1564424924530">
  </div>
  <div class="column1">
    <div class="stream"  id="twitch-embed_d8" ></div>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script  type="text/javascript">
      var embed = new Twitch.Embed("twitch-embed_d8", {
        width: 480,
        height: 270,
        channel: "SmojoRL",
        layout: "video",
        autoplay: false
      });
      embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
        var player = embed.getPlayer();
        player.play();
      });
    </script>
  </div>
  </div>
  


</div>
<a onclick="window.location." href="https://forms.gle/4r47SdTS5kN6s9489" target="blank"><button2 class="btn"><span class="votehere">APPLY</span> </button2></a>



     
      
      
      
      
      
<footer id="footer" class="footer">
  <div class="footer1">
    <h5 class="description">
    FOLLOW US
    </h5>
      <a  onclick="window.location" href="https://discord.gg/SQH7SA"  target="blank"><span><img class="sponsorsocialsfooter" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FDiscord.png?1556183298869"></span></a>   
      <a  onclick="window.location" href="https://instagram.com/smojofoundation"  target="blank"><span><img class="sponsorsocialsfooter" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FInsta.png?1556183834480"></span></a>    
      <a  onclick="window.location" href="https://twitter.com/SmojoFoundation"  target="blank"><span><img class="sponsorsocialsfooter" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FTwitter.png?1556183550801"></span></a>
      <a  onclick="window.location" href="https://www.youtube.com/channel/UC81EsdphqJGoK1VGxZ343sw?sub_confirmation=1"  target="blank"><span><img class="sponsorsocialsfooter" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FYoutube.png?1556183298310"></span></a> 
  </div>
  <div class="footer2">
    <img class="footerlogo" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2F2.2SFST.png?v=1564709134480">
    <div class="footerlinks">
      <a class="footerlink" href="home.html" >ABOUT</a>
      <span class="footerdivider"></span>
      <a class="footerlink"  href="news.html" >NEWS</a>
      <span class="footerdivider"></span>
      <a class="footerlink"  href="socials.html" >CONTACT</a>
      <span class="footerdivider"></span>
      <a  class="footerlink"  href="sponsors.html" >SPONSORS</a>
    </div>
    <copyrighttext class="copyrighttext">
   ©2019 SMOJO FOUNDATION, INC. ALL RIGHTS RESERVED.<br>
   All trademarks referenced herein are the properties of their respective owners.
    </copyrighttext>    
  </div>
</footer>
  </center>
  </body>
</html>

  <script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>


<script>
function openTeam(evt, cityName) {
  var i, teaminfo, sf_team;
  teaminfo = document.getElementsByClassName("teaminfo");
  for (i = 0; i < teaminfo.length; i++) {
    teaminfo[i].style.display = "none";
  }
  sf_team = document.getElementsByClassName("sf_team");
  for (i = 0; i < sf_team.length; i++) {
    sf_team[i].className = sf_team[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
   document.getElementById("defaultOpen").click();
</script>


<script>
function changeBlur() {
  var banner = document.getElementById('myVideoid');
  if (banner.classList.contains('noBlur')) {
    banner.setAttribute('class', 'blur');
  } else {
    banner.setAttribute('class', 'noBlur');
  }
    var banner = document.getElementById('center');
  if (banner.classList.contains('display')) {
    banner.setAttribute('class', 'nodisplay');
  } else {
    banner.setAttribute('class', 'display');
  }
}
</script>
