* 
{
  box-sizing: border-box;
}
html{
  font-size:65%; 
  scroll-behavior: smooth;
}
body{
  background-color:#142B54;
  background-attachment: local;
  background-repeat: no-repeat;  
  margin:0;
}

::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
  box-shadow: inset 0 0 8px grey;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #142B54;
  border:1px solid #9CDBFC;
  border-radius:20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #52627C; 
}

#myVideoid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index:-100;
  opacity:0.9;
}
.switch {
  display: inline-block;
  width: 45px;
  height: 26px;
  list-style-type: none;
  margin-right: 10px;
  margin-top: 60px;
  padding: 0;
  position: absolute;
  right: 0;
  opacity:1;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #9CDBFC;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#myBanner {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}

.noBlur {
  filter: blur(75px);
  transition: filter  0.75s ease-in-out;
}

.blur {
  filter: blur(0px);
  transition:filter  0.75s ease-in-out;
}

.nodisplay{
  display:block;
  opacity:1;
  transition: filter  0.75s ease-in-out;
}
.display{
opacity:0;
Display:none;
transition: filter  0.75s ease-in-out;
}

.backgroundlogo{
  position:absolute;
  z-index:-2;
  opacity:0.01;
  width:auto;
  height:90%;
  left:-250px;
  top:0px;
}
mnb {
  list-style-type: none;
  overflow: hidden;
  background: rgb(20,43,84);
  background: linear-gradient(35deg, rgba(20,43,84,1) -5%, rgba(255,255,255,1) 90%);
  display:block;
  border-bottom: 3px solid #9CDBFC;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.mnb_logo{
  float: left;
  height: 40px;
  margin: 3px 10px 3px 4px;
}

mnb li {
  float: left;
}

mnb li a, .dropbtn {
  display: inline-block;
  padding: 14px 20px;
  font-family: "Nova Slim";
  font-size: 16px;
}

mnb li a:hover, .mnb_dropdown:hover .dropbtn {
  color:#9CDBFC;
  transition: 0.2s;
}

mnb li.mnb_dropdown {
  display: inline-block;
  transition: all .5s ease;
}

.mnb_dropdown-content {
  display: none;
    position: absolute;
    background-color: #384b6d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-top: 3px solid #9CDBFC;
    z-index: 1;
}

.mnb_dropdown-content a {
  color:white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.mnb_dropdown-content a:hover {
  background-color: white;
  transition: 0.3s;
  color:#142B54;
}

.mnb_dropdown:hover .mnb_dropdown-content {
  display: block;
}

.mnbbutton {
  font-family: "Nova Slim";
  font-weight: 700;
  font-size: 25px;
  border-radius: 6px;
  background-color: #142B54;
  color:white;
  border: 3px solid #9CDBFC;
  margin: 3.5px auto;
  height: auto;
  width: 170px;
  margin-right: 5px;
  float:right;
}

.mnbbutton:hover {
  background-color: #244f9c;
}

.mnbbutton:active {
  box-shadow: none;
}

.mnbbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.mnbbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.mnbbutton:hover span {
  padding-right: 25px;
}

.mnbbutton:hover span:after {
  opacity: 1;
  right: 0;
}


mbnb{
  display: none;
  height:auto;
  width:100%;
  background-color:white;
  z-index:1;
}
.mbnb_threelines{
height:auto;
width:30%;
margin:auto;
}
.mbnb_dropbtn {
  display: flex;
  padding: 10px 0px;
  text-decoration: none;
  background-color:white;
  border:red 0px solid
}

.mbnb_dropdown {
  position: relative;
  display: inline-block;
    font-family: "Nova Slim";
  font-weight: 700;
  font-size: 25px;
  border-radius: 6px;
  background-color: #142B54;
  color:white;
  height: auto;
  width: auto;
  z-index:1;
}

.mbnb_dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.mbnb_dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size:15px;
}

.mbnb_dropdown a:hover {background-color: #ddd;}

.show {display: block;}
bns {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top:20px;
  position: fixed;
  bottom:0;
  opacity:1;
}

bns li a {
  display: block;
  color: #000;
  text-decoration: none;
  float:left;
  margin: 0px 8px 8px 8px;
}
.BottomNavPic{
  height:auto;
  width:30px;
  opacity:0.07;
  transition: 0.5s;
  z-index: -2;
  
}
.BottomNavPic:hover{
  opacity:1;
  width:32px;
}
sns {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top:20px;
  position: fixed;
  left: 0;
  opacity:1;
}

sns li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.SideNavPic{
  z-index: -2;
  height:auto;
  width:30px;
  opacity:0.07;
  transition: 0.5s;
  
}
.SideNavPic:hover{
  opacity:1;
  width:32px;
}






.title{
  font-family: "Nova Slim";
  font-weight: 200;
  font-size: 45px;
  text-align: center;
  display: inline-block;
  margin:35px 0px 0px 0px;
  color:white;
}

center, .center{
text-align:center
}
.border{
  width: 80%;
  height: auto;
}







footer{
  text-align:center;
  border: 0px solid yellow;
  height:auto;
  width:100%;
  z-index:1;
   display:block;
}
.footer1 {
  margin-top:5vw;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  background-color: #94DDFE;
  padding: 6px;
  border: 2px solid 	white;
  width:100%;
}

.footer2 {
   background-color: white;
  padding: 40px;
  
}

.footerlogo{
  Height:auto;
  width:150px;
}
.sponsorsocialsfooter
{
  Height:auto;
  width:35px;
  border-radius:100%;
  margin-right:5px;
  margin-left:5px;
}

.description{
  display: block;
  font-size: 15px;
  line-height:27px;
  margin:0px;
  font-weight: 700;
  font-family: "Nova Slim";
  color:white;
}

.footerdivider{
   display: inline-block;
    height: 1.2em;
    width: 2px;
    margin: 0 .8em;
    background: #94DDFE;
    vertical-align: middle;
}

 .footerlinks{
    display: block;
    font-size: 15px;
    line-height:27px;
    margin:0px;
    font-weight: bold;
    padding:20px;
    font-family: "Comfortaa";
    padding-right: 12px;
   color:black;
   text-decoration:none;
}
.footerlink{
   color:black;
   text-decoration:none;
}

.copyrighttext{
    display: block;
    font-size: 12px;
    margin:0px;
    font-weight: normal;
    color:black;
  font-family: "Comfortaa";
}

.mnb_dropbtn,mnb li a, span.link, .txtlink{
text-decoration: none;
      cursor: pointer;
  color:white;
}



@media only screen and (max-width: 1900px)
 {
.imglink, .backgroundlogo{
display:none;
}
}

@media only screen and (max-width: 1024px) {
sns,.backgroundlogo{
  display:none;
}
  mbnb{
display:none;
  }
  .BottomNavPic{
  width:15px;
  }
}
@media only screen and (max-width: 850px){
.backgroundlogo{
  display:none;
  }
  .mnbbutton{
display:none;  
}
}
@media only screen and (max-width: 768px){
  .switch{
  display:none;
  }
}

@media only screen and (max-width: 700px){
    mnb{
display:none;
}
    .mbnb_toggle {
  display: flex	;
  cursor: pointer;
  width:10%;
  align-items: center;
  justify-content: center;  
}
.mbnb_logo{
  height:5vh;
  position:relative;
}
  .mbnb_logo{   
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: 47%;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  mbnb{
    position:fixed;
    display:flex;
    z-index:10;
    top:0;
  }
   .footerlinks{
    font-size: 10px;
}
}

