<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nova+Slim" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Kelly+Slab" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aubrey" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
<html lang="en">
  <head>
    <title>Smojo Foundation - Voting</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Voting for the current season of Smojo Foundation">
    <meta name="name" content="Smojo Foundation">
    <meta name="keywords" content="twitch,streamer,streamteam,stream team, donation, subscribers, youtube, foundation, smojo, smojo foundation, smojo productions, sfstreamteam, sf">
    <meta http-equiv="refresh" content="30">
    <meta itemprop="thumbnailUrl" content="http://static1.squarespace.com/static/59980070893fc0a7e66e5f4a/t/5baab95653450a3f09f3b4df/1537915223867/Element+3Logo250.png?format=1500w">
    <link rel="icon" href="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2F2.2%20Double%20Blue.png?v=1564353654375">
    <link rel = "stylesheet" href = "universal.css">
    <link rel = "stylesheet" href = "voting.css">
    <script src="/test.js" defer></script>
  </head>


      
      
      
<body>  
<background>
<video class="noBlur" autoplay muted loop id="myVideoid">
  <source src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2F5%24%20TWITCH%20Donation%20REACTION!!!!%20__%20Smojo%20Foundation%20__%20Season_2%20Week_3%20__%20(1).mp4?1556148073857" type="video/mp4">
  Your browser does not support HTML5 video.
  </video>
  
   
  <label class="switch">
    <input onclick="changeBlur()" type="checkbox">
    <span class="slider round"></span>
  </label>      
</background>      
            
      
      
<mnb>
  <img class="mnb_logo" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2F2.2%20Shadow.png?v=1564352596032">
  <li><a href="home.html">Home</a></li>
  <li class="mnb_dropdown">
    <a href="current-event.html" class="mnb_dropbtn">Current Event</a>
    <div class="mnb_dropdown-content">
      <a href="current-event.html">Nominees</a>
      <a href="voting.html">Vote</a>
      <a href="prize-pool.html">Prize Pool</a>
    </div>
  </li>
  <li><a href="contribute.html">Contribute</a></li>
  <li><a href="previouswinners.html">Winners</a></li>
  <li class="mnb_dropdown">
    <a href="javascript:void(0)" class="mnb_dropbtn">Teams</a>
    <div class="mnb_dropdown-content">
      <a href="streamteam.html">Stream Team</a>
      <a href="tba.html">eSports Team</a>
      <a href="tba.html">Smojo Productions</a>
    </div>
  </li>
  <li class="mnb_dropdown">
    <a href="javascript:void(0)" class="mnb_dropbtn">More</a>
    <div class="mnb_dropdown-content">
      <a href="sponsors.html">Sponsors</a>
      <a href="contact_us.html">Contact</a>
      <a href="patchnotes.html">Patch Notes</a>
    </div>
  </li>
  <a onclick="window.location" href="https://goo.gl/forms/CnE1X46tFeOS8pVy1"  target="blank"><button class="mnbbutton"><span>APPLY</span></button></a>
</mnb>
      
      
<mbnb>
<div class="mbnb_dropdown">
  <button onclick="myFunction()" class="mbnb_dropbtn"><img class="mbnb_threelines" src="https://cdn.discordapp.com/attachments/547682569463005184/551743725169278976/f452cf9a10a3318820a84d07624121ac1.png"></button>
  <div id="myDropdown" class="mbnb_dropdown-content">
    <a href="home.html">Home</a>
    <a href="current-event.html">Current Event</a>
    <a href="contact_us.html">Contact</a>
    <a href="patchnotes.html">Patch Notes</a>
    <a href="sponsors.html">Sponsors</a>
  </div>
</div>
</mbnb>     
      
<sns>
  <li><a class="SideNav" href=" https://www.youtube.com/channel/UC81EsdphqJGoK1VGxZ343sw?sub_confirmation=1" target="_blank"><img class="SideNavPic" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FYoutube.png?1556183298310"></a></li>
  <li><a class="SideNav" href=" https://twitter.com/SmojoFoundation " target="_blank"><img class="SideNavPic" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FTwitter.png?1556183550801"></a></li>
  <li><a class="SideNav" href=" https://instagram.com/smojofoundation " target="_blank"><img class="SideNavPic" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FInsta.png?1556183834480"></a></li>
  <li><a class="SideNav" href=" https://discord.gg/fBEP52V " target="_blank"><img class="SideNavPic" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FDiscord.png?1556183298869"></a></li>
</sns>
<bns>
  <li><a class="BottomNav" href="https://twitter.com/Smojorl" target="_blank"><img class="BottomNavPic" src="https://cdn.discordapp.com/attachments/547682569463005184/552743762825314307/Smojo2.png"></a></li>
</bns>

  
  
<center id="center" class="center">
  <h1 class="title">VOTING</h1>
  <div class="row1">
    <div class="column2" >
      <div class="container1">
        <a class="mbvb" href="https://forms.gle/Y8mvuC5kaHvGhkrZ8" target="_blank"><img class="mbvbimg" src="https://cdn.discordapp.com/attachments/547682569463005184/570330486455533578/unknown.png"></a>
        <iframe class="form" src="https://docs.google.com/forms/d/e/1FAIpQLSfnPmkbPi79pNNRq5tp5CNZbOxqdBERan_De20D3yoYElZ5kQ/viewform?embedded=true"  frameborder="0" >Loading...</iframe>
        <div class="row">
      <div class="links">
        <div class="column1">
        <a class="txtlink"  onclick="window.location." href="current-event.html"><span class="nominee">NOMINEES</span></a>
        </div>
        <div class="column1">
        <a class="txtlink"  onclick="window.location." href="prize-pool.html"><span class="googleforms">FORM PAGE</span></a>
        </div>
        <div class="column1">
        <a class="txtlink"  onclick="window.location." href="prize-pool.html"><span class="prizepool">PRIZE POOL</span></a>
        </div>
      </div>
  </div>
      </div>
    </div>   
  </div>


  
  
  
  
<footer id="footer" class="footer">
  <div class="footer1">
    <h5 class="description">
    FOLLOW US
    </h5>
      <a  onclick="window.location" href="https://discord.gg/SQH7SA"  target="blank"><span><img class="sponsorsocialsfooter" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FDiscord.png?1556183298869"></span></a>   
      <a  onclick="window.location" href="https://instagram.com/smojofoundation"  target="blank"><span><img class="sponsorsocialsfooter" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FInsta.png?1556183834480"></span></a>    
      <a  onclick="window.location" href="https://twitter.com/SmojoFoundation"  target="blank"><span><img class="sponsorsocialsfooter" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FTwitter.png?1556183550801"></span></a>
      <a  onclick="window.location" href="https://www.youtube.com/channel/UC81EsdphqJGoK1VGxZ343sw?sub_confirmation=1"  target="blank"><span><img class="sponsorsocialsfooter" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2FYoutube.png?1556183298310"></span></a> 
  </div>
  <div class="footer2">
    <img class="footerlogo" src="https://cdn.glitch.com/9135ccef-096f-4b96-9a5e-c5447312beb9%2F2.2%20Double%20Blue.png?v=1564353654375">
    <div class="footerlinks">
      <a class="footerlink" href="home.html" >ABOUT</a>
      <span class="footerdivider"></span>
      <a class="footerlink" href="news.html" >NEWS</a>
      <span class="footerdivider"></span>
      <a class="footerlink" href="socials.html" >CONTACT</a>
      <span class="footerdivider"></span>
      <a  class="footerlink" href="sponsors.html" >SPONSORS</a>
    </div>
    <copyrighttext class="copyrighttext">
   ©2019 SMOJO FOUNDATION, INC. ALL RIGHTS RESERVED.<br>
   All trademarks referenced herein are the properties of their respective owners.
    </copyrighttext>    
  </div>
</footer>
  </center>  
  </body>
</html>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<script>
function changeBlur() {
  var banner = document.getElementById('myVideoid');
  if (banner.classList.contains('noBlur')) {
    banner.setAttribute('class', 'blur');
  } else {
    banner.setAttribute('class', 'noBlur');
  }
    var banner = document.getElementById('center');
  if (banner.classList.contains('display')) {
    banner.setAttribute('class', 'nodisplay');
  } else {
    banner.setAttribute('class', 'display');
  }
}
</script>
